.top_image_card{
  /* border-color: black solid 10px;
  box-sizing: border-box; */
  // background-image: linear-gradient(to bottom right, skyblue, white, #fec673);
  // height: 16rem;
  // width: 10rem;
}   
.imgs{
   
// height: 12rem;
// width:9rem;
// padding-top: 0.5rem;

}
/* .top_text{
    height: 5rem;
} */
// .top_image{
//     text-align: center;
// }
.top_container{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // padding: 1rem;
}