.wishlistLogin-container {
    max-width: 980px;
    margin: 230px auto 180px;
    text-align: center;
    i{
        padding-top: 2rem;
    }
}
.wishlistLogin-heading {
    font-size: 20px;
    font-weight: 600;
    color: #282c3f;
}
.wishlistLogin-info {
    font-size: 18px;
    color: #94989f;
    max-width: 380px;
    margin: 20px auto 0;
}
.wishlistLogin-button{
    padding-top: 2rem;
button {
    border: 1px solid #3466e8;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    padding: 14.5px 51px;
    color: #3466e8;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    a{
        color: #3466e8; 
    }
}}
.wishlist-main-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    img{
        max-width: 100%;
        height: 160px;
    }
    h6{
        font-size: 15px;
    }
    h5{
        font-size: 13px;
    }
    button{
        font-size: 15px;
        padding: 0.5rem 1.5rem ;
        border-radius: 0.2rem;
    }
}
.nav_icon{
    font-size: 12px;
}