.data{
    text-transform: uppercase;
    letter-spacing: 3px;
   padding:  2rem 0rem;
}
.flat_h{
    background: #4a4949;
    color: aliceblue;
    padding: 1px 3rem;
    
  
}
.flat{
   
    position: fixed;
    top: 20rem;
    right: -10.4rem;
    transform: rotate(-90deg);
}
